

  .accordion {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    max-width:500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background: #1687a7;
    margin-top: 60px;
   
  }

  .accordion_label,
  .accordion_content{
    padding: 14px 20px;
    
  }

  .info_text {
    color: white;
    font-weight: 400;
    font-size: 14px;
  }

  .accordion_label{
    text-align: left;
    font-size: 16px;
    display: block;
    color: white;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    
  }

  .accordion_label:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .accordion_label::after{
    content:"";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
  }

  .accordion_content{
    text-align: left;
    background: #1687a7;
    line-height: 1.7;
    font-size: 0.9em;
    display: none;
    color: white;
  }

  .accordion_input{
    display: none;
  }

  .accordion_input:checked ~ .accordion_content {
display: block;
  }

  .accordion_input:checked ~ .accordion_label::after {
    transform: translateY(50%)rotate(0.5turn);
  }