
h4 {
    margin-top: 50px;
    font-weight: 500;
}

p {
font-size: 20px;
color: #276678;
font-weight: 500;
}

td {
    font-size: 20px;
    color: #276678;
    padding: 10px

}

h3, th {
    font-size: 25px;
    color: #276678;
    font-weight: 300;
    }


table {
    margin-left: 630px;
    margin-top: 30px;
}

.DisplayAQI { 
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
max-width:600px;
}